<div id="panel">
    <div class="title">
        <h1>سجل النفقات</h1>
    </div>
    <form>
        <input type="hidden" name="mod" value="spent" class="text">
        <input type="hidden" name="id" value="<%= data[0].id %>" class="text">
        <div class="form_element">
            <div class="input"><input type="text" name="operation" class="text" value="<%= data[0].operation %>"
                                      ></div>
            <div class="label"><label for="">العمليات </label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="text" name="accountantCode" class="text"
                                      value="<%= data[0].accountantCode %>" ></div>
            <div class="label"><label for="">الرمز المحاسب</label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="text" name="checkNumber" class="text" value="<%= data[0].checkNumber %>"
                                      ></div>
            <div class="label"><label for="">رقم الشيك </label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="date" name="paymentDate" class="date"
                                      value="<%= data[0].paymentDate.toISOString().slice(0, 10) %>" ></div>
            <div class="label"><label for="">تاريخ صرف الشيك</label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="text" name="checkValue" class="text" value="<%= data[0].checkValue %>"
                                      ></div>
            <div class="label"><label for="">مبلغ الشيك بالدرهم</label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="text" name="beneficiary" class="text" value="<%= data[0].beneficiary %>"
                                      ></div>
            <div class="label"><label for="">لفائدة </label></div>
        </div>

        <div class="form_element">
            <div class="input"><input type="text" name="accountingReference" class="text"
                                      value="<%= data[0].accountingReference %>" ></div>
            <div class="label"><label for="">المرجع المحاسبي</label></div>
        </div>


        <div class="form_element">
            <div class="input"><input type="date" name="day" class="date" value="<%= data[0].day.toISOString().slice(0, 10) %>"></div>
            <div class="label"><label for="">يوم</label></div>
        </div>

        <div class="submitLoding">
            <img class="loding" src="../images/reload.png" alt="">
            <button type="submit" id="edit" class="submit">تغيير</button>
        </div>
    </form>
</div>