<div id="panel">
    <div class="title">
        <h1>تغيير المواد الوافدة</h1>
    </div>
    <form>
        <input type="hidden" name="mod" value="track" class="text">
        <input type="hidden" name="type" value="income" class="text" id="type">
        <input type="hidden" name="genre" value="<%=data.genre%>" class="text" id="genre">
        <input type="hidden" name="lastQuantity" value="<%= data.quantity%>">
        <input type="hidden" name="lastId" value="<%=data.productID%>">
        <input type="hidden" name="id" value="<%=data._id%>" class="text" id="id">
        <input type="hidden" name="productID" value="<%=data.productID%>" class="text" id="productID">
        <div class="form_element">
            <div class="input">
                <select name="type1" id="type1" class="text" required>
                    <%for(var i =0; i<tracks.length; i++){%>
                        <%if(tracks[i].type1 == data.type1){%>
                            <option value="<%= tracks[i].type1%>" selected> <%=tracks[i].type1%> </option>    
                        <%}else{%>
                            <option value="<%= tracks[i].type1%>"> <%=tracks[i].type1%> </option>
                        <%}%>
                    <%}%>
                </select>
            </div>

            <div class="label"><label for="">نوع المنتج</label></div>
        </div>
        <div class="form_element">
            <div class="input">
                <select name="name" id="names" class="text" required>
                    <%for(var i =0; i<tracks.length; i++){%>
                        <%if(tracks[i].name == data.name){%>
                            <option value="<%= tracks[i].name%>" selected> <%=tracks[i].name%> </option>    
                        <%}else{%>
                            <option value="<%= tracks[i].name%>"> <%=tracks[i].name%> </option>
                        <%}%>
                    <%}%>
                </select>
            </div>
            <div class="label"><label for="">الاسم </label></div>
        </div>
        <div class="form_element">
            <div class="input">
                <select name="unit" id="unit" class="text" required>
                    <%for(var i =0; i<tracks.length; i++){%>
                        <%if(tracks[i].unit == data.unit){%>
                            <option value="<%= tracks[i].unit%>" selected> <%=tracks[i].unit%> </option>    
                        <%}else{%>
                            <option value="<%= tracks[i].unit%>"> <%=tracks[i].unit%> </option>
                        <%}%>
                    <%}%>
                </select>
            </div>

            <div class="label"><label for="">وحدة</label></div>
        </div>
        <div class="form_element">
            <div class="input">
                <select name="genre" id="genre" class="text" required>
                    <%for(var i =0; i<tracks.length; i++){%>
                        <%if(tracks[i].genre == data.genre){%>
                            <option value="<%= tracks[i].genre%>" selected> <%=tracks[i].genre%> </option>    
                        <%}else{%>
                            <option value="<%= tracks[i].genre%>"> <%=tracks[i].gnere%> </option>
                        <%}%>
                    <%}%>
                </select>
            </div>

            <div class="label"><label for="">تبرعات/مشتريات</label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="text" value="<%=data.quantity%>" class="newquantity text" name="quantity" class="text" required></div>
            <div class="label"><label for="">الكمية</label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="text" value=" <%=data.price%>" name="price" id="" class="text" required></div>
            <div class="label"><label for="">لثمن الفردي</label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="text" value="<%=data.note%>" name="note" id="" class="text" ></div>
            <div class="label"><label for="">ملااحظة</label></div>
        </div>
        <div class="form_element">
            <div class="input"><input type="date" name="day" value="<%= data.day.toISOString().slice(0,10)%>" class="date" required=""> </div> <div class="label"><label for="">يوم</label></div>
        </div>
        <div class="submitLoding">
            <img class="loding" src="../images/reload.png" alt="">
            <button type="submit" id="edit" class="submit">تسجيل</button>
        </div>

    </form>
</div>